.slack-emoji-everywhere {
  width: 22px;
  height: 22px;
}

.slack-emoji-everywhere-picker {
  position: fixed;
  padding: 8px;
}

.slack-emoji-everywhere-picker div {
  width: 300px;
  max-height: 150px;
  overflow: scroll;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: grey;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: black;
  background: white;
}

.slack-emoji-everywhere-picker ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.slack-emoji-everywhere-picker li[selected=""] {
  background: midnightblue;
  color: white;
  cursor: pointer;
}

.slack-emoji-everywhere-picker li {
  padding: 2px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slack-emoji-everywhere-picker li img {
  vertical-align: middle;
}

.slack-emoji-everywhere-picker li span {
  vertical-align: middle;
  padding-left: 4px;
  padding-top: 2px;
}
